.info-card-thumbnail-skeleton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-card-thumbnail-skeleton .image {
    height: 4.5rem;
    width: 127px;
    border-radius: 5px;
}
.info-card-meta-wrapper-skeleton {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    /* margin-top: 0.5rem; */

    flex: 0.8;
}

.info-card-title-skeleton {
    width: 100%;
    max-width: 20rem;
    height: 1rem;
}

.info-card-creator-skeleton {
    width: 50%;
    max-width: 10rem;
    height: 1rem;
}
